<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10"><br>
        <h3 style="text-align: center;">Employees List</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Employee Id</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile Number</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <!-- <th scope="row">1</th> -->
                    <td>{{employee.id}}</td>
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.email}}</td>
                    <td>{{employee.mobileNumber}}</td>
                    <td><button (click)="updateEmployee(employee.id)" class="btn btn-primary">Update</button></td>
                    <td><button (click)="deleteEmployee(employee.id)" class="btn btn-danger">Delete</button></td> 
                    <td><button (click)="details(employee.id)" class="btn btn-info">View</button></td> 
                </tr>
            </tbody>
        </table>
    </div>
</div>