<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <h5 class="card-header" style="background-color: rgb(59, 145, 249);color: white;">Add Employee Form</h5>
            <div class="card-body">
                <form (ngSubmit)="submit()">
                    <div class="form-group">
                        <input type="text" name="firstName" [(ngModel)]="firstName" class="form-control"
                         required placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <input type="text" name="lastName" [(ngModel)]="lastName" class="form-control"
                            placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <input type="text" name="email" [(ngModel)]="email" class="form-control" placeholder="Email ID">
                    </div>
                    <div class="form-group">
                        <input type="text" name="mobileNumber" [(ngModel)]="mobileNumber" class="form-control"
                            placeholder="Mobile Number">
                    </div>
                    <input type="submit" name="" id="" value="Submit" class="btn btn-primary">
                    <input type="reset" name="" id="" value="Reset" class="btn btn-primary" style="margin-left: 10px;">
                </form>
            </div>
        </div>
    </div>